# dependencies
/node_modules
/.pnp
.pnp.js
/project


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
*.pyc
__pycache__/
*/activate.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
